<div class="container">
  <div class="page-header">
  <h1>Welcome to {{title}}. <small>This Angular 4 app was build for testing purposes.</small></h1>
</div>
  <div class="row">
     <div class="col-xs-8">
        <div class="jumbotron">
          <h1>Hello, world!</h1>
          <p>This is a simple example for an Angular 4 application.</p>
          <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
     </div>
     <div class="col-xs-4">
       <app-comments></app-comments>
     </div>
  </div>
</div>
