<div class="container">
  <div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>This is a simple example for a component.</p>
  <p><a class="btn btn-primary btn-lg" (click)="showAboutBody=!showAboutBody;onShowBody();" role="button">{{btnTitle}} body</a></p>
</div>
<div class="row" *ngIf="showAboutBody">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="img1" src="../../assets/images/image1.jpg" height="300" width="300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Sepia hover filter</p>
        <p><a class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="img2" src="../../assets/images/image2.jpg" height="300" width="300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Greyscale hover filter</p>
        <p><a class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img id="img3" src="../../assets/images/image3.jpg" height="300" width="300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Hue-rotate hover filter</p>
        <p><a class="btn btn-primary" role="button">Button</a> <a class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
</div>
