<form>
  <div class="input-group">
    <span class="input-group-addon">First name</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="First name">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon">Last name</span>
    <input id="msg" type="text" class="form-control" name="msg" placeholder="Last name">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
  </div>
  <br/>
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input id="password" type="password" class="form-control" name="password" placeholder="Password">
  </div>
</form>