<label>Comments list:</label>
<div class="input-group">
    <select name="comments" [(ngModel)]="selectedComment" (ngModelChange)="onCommentSelect($event)" class="form-control selectpicker">
      <option *ngFor="let ct of commentTypes" [ngValue]="ct">{{ct.name}}</option>
    </select>
    <textarea rows="4" class="form-control" [(ngModel)]="commentText" (ngModelChange)="onCommentChange($event)" placeholder="Type your comment"> </textarea>
    <div *ngIf="!allowNewComment" class="alert alert-danger" role="alert">Please fill in the textarea.</div>
</div><!-- /input-group -->
<br/>
<ul class="list-group">
  <li *ngFor="let ct of commentTypes" [ngClass]="ct.listClass"><span class="badge">{{ct.total}}</span>{{ct.name}}</li>
</ul>

<div class="progress">
  <div  *ngFor="let p of progresComments" class="{{p.class}}" [ngStyle]="{'width': p.width}">
    <span class="sr-only">{{p.width}} Complete ({{p.name}})</span>
  </div>
</div>
<button class="btn btn-primary" 
[disabled]="!allowNewComment"
(click)="onCreateComment()"
(mouseover)="onCommentChange()">Add Comment</button>
<button class="btn btn-danger" 
(click)="onRemoveComment()">Remove Comment</button>
<hr/>
<div [className]="comment.type" *ngFor="let comment of comments">
    <div class="panel-heading">
        <h3 class="panel-title">Comment Id: {{comment.id}}</h3>
    </div>
    <div class="panel-body">
        Comment text: {{comment.value}}
    </div>
</div>